{
  "extends": ["standard", "plugin:react/recommended"],
  "rules": {
    "semi": ["error", "always"],
    "no-trailing-spaces": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
