.list {
    padding: 1rem;
    margin: 0;
    position: sticky;
    top: 2rem;
    float: top;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.5rem;
    height: 80vh;
    border-radius: 10px;
    align-items: flex-start;
}

.item {
    list-style-type: none;
    font-size: 1.1rem;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
}

.button_current {
    font-weight: bold;
}
